@import "tailwindcss";

:root {
  --background: #FCF7F7;
  --foreground: #2F2E41;
  --socendary: #6C63FF;
  --third-color: #5A5968;
  --soc-action-color: #DDEB9D;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --color-action: var(--socendary);
  --color-des: var(--third-color);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
}

.responsive-container{
  @apply mx-auto md:max-w-[700px] lg:max-w-[900px] xl:max-w-[1180px] 2xl:max-w-[1300px] px-4 md:px-0;
}


.logo-image{
  @apply w-16 h-8  md:w-24 md:h-10;
}


.portfolio-hover-h2 {
  @apply group-hover:top-5 group-hover:left-4 group-hover:translate-x-0 group-hover:translate-y-0 group-hover:text-gray-800;
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: Arial, Helvetica, sans-serif;
}

.bg-grid-blue {
  background-color: #007bff; /* Base blue background */
  background-image: 
    linear-gradient(to right, #ffffff0d 1px, transparent 1px),
    linear-gradient(to bottom, #ffffff0d 1px, transparent 1px);
  background-size: 64px 64px; /* Size of each grid cell */
  margin: 0;
}

.bg-grid-white {
  background-color: #f3f5f7; /* Base blue background */
  background-image: 
    linear-gradient(to right, #5070c90d 2px, transparent 2px),
    linear-gradient(to bottom, #5070c90d 2px, transparent 2px);
  background-size: 40px 40px; /* Size of each grid cell */
  margin: 0;
}

.shadow-custom {
  box-shadow: 4px 4px 4px rgba(70, 65, 65, 0.8);
}

.border-bg{
background: #bbb8e0;
background: linear-gradient(180deg,rgba(187, 184, 224, 1) 0%, rgba(108, 99, 255, 1) 50%, rgba(187, 184, 224, 1) 100%);
}

.border-left-to-right{
background: #bbb8e0;
background: linear-gradient(87deg,rgba(187, 184, 224, 1) 0%, rgba(108, 99, 255, 1) 100%);
}

.border-right-to-left{
background: #bbb8e0;
background: linear-gradient(86deg,rgba(187, 184, 224, 1) 0%, rgba(108, 99, 255, 1) 100%);
}


.testimonial-shadow{
box-shadow: 4px 4px 2px 0px rgba(130,109,109,0.29);
-webkit-box-shadow: 4px 4px 2px 0px rgba(130,109,109,0.29);
-moz-box-shadow: 4px 4px 2px 0px rgba(130,109,109,0.29);
}

.price-bg{
background: #DDEB9D;
background: linear-gradient(123deg,rgba(221, 235, 157, 1) 2%, rgba(131, 123, 250, 1) 35%, rgba(131, 123, 250, 1) 66%, rgba(221, 235, 157, 1) 92%);
}



